<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>

<link rel="stylesheet" type="text/css" href="{% static 'post/style.css' %}">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
<link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">

<body>

    <!-- navbar -->
    <section id="navbar">
        <div class="custom-nav">
            <div class="left">
                <i class="fa fa-instagram fa-2x"></i>
                Demo
            </div>
            <div class="center">
                <div class="search-input">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="search here">
                </div>
            </div>
            <div class="right">
                <i class="material-icons-outlined">explore</i>
                <i class="material-icons-outlined">favorite_border</i>
                <i class="material-icons-outlined">account_circle</i>

            </div>
        </div>
    </section>


    <!-- ============================ content =================================== -->

    <section id="add">
        <div class="container">
            <div class="row mt-3">
                <div class="col text-left">
                    <h3>Create new post</h3>
                    <hr>
                    <form method="POST">
                        <div class="form-group">
                            <label for="title">Enter Title</label>
                            <input type="text" class="form-control" id="title" placeholder="Enter title">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Content</label>
                            <textarea class="form-control" 
                            id="exampleFormControlTextarea1" rows="8"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="date">Enter date</label>
                            <input type="datetime-local" class="form-control" id="date" placeholder="created at">
                        </div>
                        <a  href="{% url 'home' %}" class="btn btn-primary">submit</a>
                    </form>
                </div>
            </div>
        </div>
    </section>








    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>